name: CI

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: installing python
      uses: actions/setup-python@v2
      with:
        python-version: '3.12'

    - name: installing dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: raw data extracting
      run: |
        sudo apt-get install -y p7zip-full
        7za x data/raw/raw_data.7z -odata/raw
    
    - name: raw data processing
      run: |
        python3 process_raw_data.py.py

    - name: formatting
      run: |
        black --check --line-length 120 .

    - name: type checking
      run: |
        mypy .

    - name: linting
      run: |
        pylint **/*.py

    - name: testing
      run: | 
        pytest || [ $? -eq 5 ]
